:root {
  --cor-b1: #ffffff;
  --cor-b3: #0e0d0d;
  --cor-b4: #f5f5f5;
  --cor-p0: #40d0d5;
  --cor-p1: #00c4cc;
  --cor-p2: #9a9a9a;
  --cor-p3: #000000;
  --cor-t7: #000000;
}
.cor-t4 {
  color: #626262;
}
.cor-t5 {
  color: #313131;
}
.cor-t6 {
  color: #0e0d0d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cor-b1: #0e0d0d;
    --cor-b3: #f5f5f5;
    --cor-b4: #000000;
    --cor-t7: #ffffff;
  }
  .cor-t6 {
    color: #ffffff;
  }
  .cor-t5 {
    color: #eeeeee;
  }
  .cor-t4 {
    color: #dddddd;
  }
}
