/* css reset */
body {
  background-color: var(--cor-b3);
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  display: inline-block;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
/* css reset */

/* header */
.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.312rem 0.625rem;
  border-bottom: 1px solid var(--cor-p2);
  margin-bottom: 40px;
}

.logo-menu {
  justify-self: start;
}

.logo-menu img {
  height: 63px;
  grid-column: 1;
}

.links-menu {
  grid-column: 2;
  display: flex;
  gap: 2.5rem;
}

nav {
  place-self: center end;
}

.links-menu a {
  border: 2px solid transparent;
  padding: 0.625rem 0.937rem;
}

.links-menu a:hover {
  border-bottom: 2px solid var(--cor-p1);
}
/* header */

/* container conteúdo */
main,
footer,
header {
  max-width: 1300px;
  margin: 0 auto;
}
/* container conteúdo */

/* rodapé do site */
footer {
  border-top: 1px solid var(--cor-p2);
  margin-top: 140px;
  padding: 1rem 2rem;
}

footer p {
  margin: 0 auto;
  text-align: center;
}
/* rodapé do site */
