/* seção posts */
.posts {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: repeat(2, 1fr);
  padding: 1.562rem;
}

.posts-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
  place-content: start;
  padding: 1.25rem;
  border: 2px solid var(--cor-p1);
  border-radius: 0.937rem;
  background-color: var(--cor-b4);
}

.posts-item h3 {
  grid-column: 1 / -1;
  place-self: start center;
}

.posts-item h3::after {
  content: '';
  display: block;
  background-color: var(--cor-p0);
  width: 62%;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 0.7rem;
}

.posts-item img {
  border-radius: 0.937rem;
  height: 200px;
}

.posts-item div {
  display: grid;
  gap: 1.25rem;
  place-content: start;
}

.posts-item a {
  place-self: start;
}
/* seção posts */

/* seção cursos */
.cursos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  padding: 1.562rem;
}

.cursos-item {
  border: 2px solid var(--cor-p1);
  border-radius: 0.937rem;
  padding: 1.25rem;
  display: grid;
  gap: 1.25rem;
  background-color: var(--cor-b4);
}

.cursos-item h3 {
  align-self: center;
}

.cursos-item img {
  border-radius: 0.937rem;
  height: 400px;
}

.cursos-item a {
  align-self: flex-end;
}
/* seção cursos */

/* seção comunidade*/
.comunidade {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem 1.25rem;
  padding: 1.562rem;
  place-items: center;
}

.comunidade-titulo {
  grid-column: 1 / -1;
  justify-self: start;
  font-size: 2.4rem;
  border-left: 2px solid var(--cor-p1);
  padding: 0rem 1rem;
}

.comunidade-botao {
  font-size: 2rem;
  padding: 1.5rem 2.5rem;
  border-radius: 1.875rem;
}
/* seção comunidade*/

/* seção jobs */
.jobs {
  border: 2px solid var(--cor-p2);
  border-radius: 1.875rem;
  text-align: center;
  padding: 2.812rem;
  font-size: 2rem;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 1.875rem;
  background-color: var(--cor-b4);
}

.jobs-titulo {
  font-size: 3rem;
  padding: 0rem 1.25rem;
  border-left: 2px solid var(--cor-p1);
  border-right: 2px solid var(--cor-p1);
  margin-bottom: 3.75rem;
}

.jobs-botao {
  font-size: 1.4rem;
  padding: 1rem 5rem;
  border-radius: 1.875rem;
}
/* seção jobs */
